.panda-card{
    border: none;
}
.panda-card-footer{
    border: none;
    background-color: #fff;
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: #FEEAE9;
    border-radius: 1em;
}
